body {
    font-family: monospace sans-serif;
}


.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0 20px;
    position: relative; /* Ensure positioning context for the menu container */
}

.App-header h1 {
    font-size: 2.5em;
    margin: 0;
}

.App-header p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #b0b0b0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-color: #4fa3d1;
}

.App-menu-container {
    position: fixed; /* Fixes the menu to a specific position on the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensures the menu appears above other content */
}

.App-menu {
    background-color: #282c34;
    padding: 20px;
    border-radius: 8px;
}

.App-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.App-menu li {
    margin: 15px 0;
}

.App-menu a {
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.App-menu a:hover {
    text-decoration: underline;
}
